*{
    font-family: 'monospace', serif;
}

#header{
    text-align: center;
    font-size: 30pt;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #bdbdbd;
    width: 100%;
}
#container{
    width: max-content;
    height: max-content;
    margin: 100px auto;
}

.cell{
    text-align: left;
    width: 100px;
    height: calc(2rem);
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    font-size: 20px;
}
.row{
    width: 100%;
    display: flex;
}

.border{
    text-align: left;
    width: 100px;
    height: calc(2rem);
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    font-size: 20px;
}